@import '../../theme/responsive.module.scss';

.input {
  font-size: var(--font-size-16);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  background-color: transparent;
  width: 100%;
  line-height: var(--line-height-22);
  border: none;
  box-shadow: none;
  height: var(--p32);
  color: var(--theme-text-color-primary);
  &::placeholder {
    color: var(--theme-text-color-disabled);
  }
  &:focus {
    outline: 0;
  }
}

.InputWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.leftIcon {
  display: flex;
  margin-right: var(--p8);
}

.rightIcon {
  display: flex;
  margin-left: var(--p8);
  box-shadow: none;
  transition: all var(--transition-default);
  border: var(--border-1) solid transparent;
  align-items: center;
  & img {
    width: var(--p12);
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
  &.rightIconAction {
    cursor: pointer;
    border-radius: var(--radius-4);
  }
}

.rightIconImg {
  outline: 0;
}

.inputContentBase {
  transition: all var(--transition-default);
  padding: var(--p8) var(--p8);
  border: var(--input-border);
  border-radius: var(--radius-6);
  position: relative;
  display: flex;
  background-color: var(--input-background-color);
  align-items: center;
  @media (hover: hover) {
    &:hover {
      background-color: var(--input-background-color-hover);
    }
  }
  &:focus-within {
    border: var(--input-border-focus);
    background-color: var(--input-background-color-hover);
  }
}

.primary {
  --input-border: var(--border-1) solid var(--color-transparent);
  --input-background-color: var(--theme-background-color-secondary);
  --input-background-color-hover: var(--theme-background-color-tertiary);
  --input-border-focus: var(--border-2) solid var(--theme-border-color-secondary);
}
