@import '/src/common/theme/responsive.module.scss';

.detailsHeaderWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: var(--p32);
  margin-bottom: var(--p32);
  cursor: pointer;
  .text {
    margin-left: var(--p8);
  }
  @include mobile {
    padding-top: var(--p24);
    margin-bottom: var(--p24);
  }
}
