$mobile-width: 599px;
$tablet-width: 980px; // mobile switching pixel
$desktop-width: 1441px;

// ----------------------------------------------------------------------

// Mobile Media Query

// ----------------------------------------------------------------------

@mixin mobile {
  // this should always come after @include mobile()
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}
