@import '../../../theme/responsive.module.scss';

.wrapper {
  display: flex;
  z-index: var(--z-very-high);
  outline: none;
  position: absolute;
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-4);
  flex-direction: column;
  background-color: var(--theme-background-color-tertiary);
  top: 100%;
  padding: var(--p12);
  width: max-content;
  max-height: var(--p384);
  overflow-y: auto;
  &.left {
    right: 0;
  }
  &.right {
    left: 0;
  }
  &.static {
    position: static;
  }
  @include tablet {
  }
}
