@import 'common/theme/stylevars.module.scss';
@import 'common/theme/reset.module.scss';
@import 'common/theme/font.module.scss';
@import 'common/theme/responsive.module.scss';

html {
  font-size: 16px;
  @include small {
    font-size: 13px;
  }
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
